* {
    font-family: 'Open Sans', sans-serif;
}

#body {
    height: auto;
    margin: 0 auto;
}

#body {
    width: 80%;
    /*height: 100%;*/
    /*box-sizing: border-box;*/
    max-width: 900px;
    height: auto;
    padding: 1vmin;
    background-color: var(--main-color-body);
    margin: 0 auto;
    /*margin-bottom: -100%;*/
    border-left: 1px black;
    border-right: 1px black;
    background-color: rgba(255, 255, 255, 0.808);
    box-shadow: 57px 47px 30px 0px rgba(73, 67, 122, 1);
    /* derecha/izquierda-> 0 centro detras del div 
    , altura 
    , difuminado,
     cuanto mas grande es ,
      color*/
    /*box-shadow: 0px 0px 20px 0px #2c2222ad;*/
}

body {
    background-image: url("../fotos/lanciaFondo.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.cabecera {
    width: 100%;
    height: 12vmin;
    min-height: 6vmin;
}

.nombre {
    width: 100%;
    height: 50%;
}

.nombre a {
    margin: 1%;
}

.nombre a img {
    height: 100%;
}

.fila_botones {
    margin: 0;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fila_botones a {
    font-size: 1.75vmin;
    width: 100%;
    padding: 1vmin;
    text-align: center;
    background-color: rgb(255, 68, 0);
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.fila_botones a:hover {
    background-color: rgb(255, 115, 0)
}

.pie {
    background-color: rgb(207, 207, 207);
    text-align: center;
    margin-top: 5%;
    padding-top: 0.01%;
    padding-bottom: 0.01%;
    position: relative;
}

.contenidoSuperior {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.contenidoMapa {
    width: 50%;
    margin: 0;
    overflow: hidden;
}

.mapa {
    width: 100%;
    height: 100%;
}

.infoContacto {
    width: 50%;
    margin: 0;
    text-align: left;
    padding: 0 3vmin;
}

.infoContacto h3 {
    font-size: 2.5vmin;
}

.infoContacto h4 {
    font-size: 1.75vmin;
    font-weight: normal;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.formulario {
    background-color: rgb(207, 207, 207);
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formulario input[type=submit] {
    margin-top: 5px;
    background-color: rgb(255, 68, 0);
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
}

.formulario input[type=submit]:hover {
    background-color: rgb(255, 115, 0);
    font-weight: bold;
}

.formulario h2 {
    text-align: center;
}

.formulario form {
    margin: 0 auto;
    display: grid;
    grid-column: auto;
    justify-content: center;
    width: 100%;
}

.mapaImagen {
    margin-top: 5px;
}

.mapaImagen h2 {
    text-align: center;
}

.mapaImagen img {
    border: 1px black dotted;
    margin: 0 auto;
}

.gif {
    width: 100%;
}