* {
    font-family: 'Open Sans', sans-serif;
}

#body {
    height: auto;
    margin: 0 0;
}

#body {
    width: 80%;
    /*height: 100%;*/
    /*box-sizing: border-box;*/
    max-width: 900px;
    height: auto;
    padding: 0;
    background-color: var(--main-color-body);
    margin: 0 auto;
    /*margin-bottom: -100%;*/
    border-left: 1px black;
    border-right: 1px black;
    background-color: rgba(255, 255, 255, 0.925);
    box-shadow: 57px 47px 30px 0px rgba(73, 67, 122, 1);
    /* derecha/izquierda-> 0 centro detras del div 
    , altura 
    , difuminado,
     cuanto mas grande es ,
      color*/
    /*box-shadow: 0px 0px 20px 0px #2c2222ad;*/
}

body {
    background-image: url("../fotos/fondouno.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.cabecera {
    width: 100%;
    height: 12vmin;
    min-height: 6vmin;
    background-color: rgb(233, 230, 230);
}

.nombre {
    margin: 0 auto 0 10px;
    width: 80%;
    height: 50%;
}

.nombre a {
    margin: 1%;
}

.nombre a img {
    height: 100%;
}

.fila_botones {
    margin: 0;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fila_botones a {
    font-size: 1.75vmin;
    width: 100%;
    padding: 1vmin;
    text-align: center;
    background-color: rgba(96, 104, 105, 0.842);
    border: 1px solid black;
    text-decoration: none;
    color: white;
}

.fila_botones a:hover {
    background-color: rgb(65, 145, 125);
}

.contenido {
    padding: 1vmin;
    display: flex;
    flex-wrap: wrap;
}

.carousel,
.carousel-inner>.carousel-item>img {
    height: 300px;
}

#listcadars {
    padding: 20px 10px;
    margin: 20px 0;
    width: 100%;
    /* display: grid;
    grid-template-columns: auto auto;*/
}

.cardtamaño {
    width: 49%;
    display: flex;
    align-content: center;
    align-items: center;
}

.cardtamaño>a {
    margin: auto;
}

.cardtamaño>a:hover {
    background-color: rgba(0, 255, 179, 0.404);
}

.pie {
    background-color: rgb(207, 207, 207);
    text-align: center;
    margin-top: 0;
    padding-top: 0.01%;
    padding-bottom: 0.01%;
    position: relative;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.publicidad img {
    width: 100%;
}

.publicidad {
    width: 10vmin;
    top: 49%;
    right: 2vmin;
    z-index: 1;
    background-color: white;
    position: fixed;
}

.formularioadd {
    margin: auto;
}

.tituloForm {
    width: 100%;
    margin: auto;
}

.tdDescrip {
    max-height: 50px;
    overflow: scroll;
}

table {
    width: 100%;
    overflow-x: auto;
}

@media only screen and (max-width: 750px) {
    .cardtamaño {
        width: 100%;
    }
    #body {
        width: 90%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 570px) {
    .contenido .especificacines {
        column-count: 1;
        text-align: center;
    }
    #body {
        width: 100%;
        max-width: 100%;
    }
}